[user]
	email = xavier.lavallee@gmail.com
	name = Xavier Lavallee
[commit]
	gpgsign = true
[alias]
  s = status
  lol = log --oneline --decorate
  graph = log --oneline --graph --decorate
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[grep]
  lineNumber = true
  patternType = perl
