[user]
	email = xavier.lavallee@gmail.com
	signingkey = /Users/xavierlavallee/.ssh/id_rsa.pub
	name = Xavier Lavallee
[commit]
	gpgsign = true
[alias]
	s = status
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
