[user]
	email = xavier.lavallee@gmail.com
	name = Xavier Lavallee
[commit]
	gpgsign = true
[alias]
	s = status
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
